<mat-card>
  <mat-grid-list cols="2" style="width: 100%">
    <button mat-flat-button color="primary" style="width: 10%"
            (click)="openAddDialog()">
      <mat-icon style="height: 30px">add</mat-icon> Ajouter</button>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </mat-grid-list>


  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort matSortActive="curncyid" matSortDirection="asc">

      <!-- ID Column -->
      <ng-container matColumnDef="curncyid">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.curncyid}} </td>
      </ng-container>

      <!-- Code Column -->
      <ng-container matColumnDef="crncydsc">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> crncydsc </th>
        <td mat-cell *matCellDef="let row"> {{row.crncydsc}} </td>
      </ng-container>

      <!-- Libellé Column -->
      <ng-container matColumnDef="crncydsca">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> crncydsca </th>
        <td mat-cell *matCellDef="let row"> {{row.crncydsca}} </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="add">
        <th mat-header-cell *matHeaderCellDef style="text-align: center">
        </th>
        <td mat-cell *matCellDef="let row" style="text-align: center">
          <a mat-button class="action-button" (click)="onSelect(row)">
            <mat-icon >edit</mat-icon>
          </a>
          <a mat-button class="action-button" (click)="deleteTypeSectionListener(row)" >
            <mat-icon>delete</mat-icon>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
  <app-add-currency (childEvent)="getCurrency()"></app-add-currency>

</mat-card>
