
<!--<div *ngIf="!goToCreation" class="row personne-selection">-->
<!--<div id="select-parent" class="col-4" (click)="selectParent()" i><h3>PARENT</h3></div>-->
<!--<div id="select-eleve" class="col-4" (click)="selectEleve()"><h3>ELEVE</h3></div>-->
<!--<div id="select-professeur" class="col-4" (click)="selectProfesseur()"><h3>PROFESSEUR</h3></div>-->
<!--</div>-->
<div  >
  <h3>  Currency</h3>
  <form [formGroup]="editForm"   >
    <mat-card>
      <div class="row">
        <div class="col-3">
            <mat-label  >{{f.curncyid.value}}</mat-label>

        </div>
      </div>
      <div class="row">
        <div class="col-8">
          <mat-form-field>
            <mat-label>Currency Description</mat-label>
            <input matInput placeholder="Currency Description" formControlName="crncydsc">
            <mat-icon matSuffix>mode_edit</mat-icon>
            <mat-error *ngIf="f.crncydsc.errors?.required">
              Champs Obligatoire
            </mat-error>
            <mat-error *ngIf="f.crncydsc.errors?.maxLength">
              max 30 caractere
            </mat-error>
            <mat-error *ngIf="f.crncydsc.errors?.verifier">
              not allaoud default
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Currency Description Arabic</mat-label>
            <input matInput placeholder="Currency Description Arabic" [class.is-invalid]="editForm.errors?.misMatch" formControlName="crncydsca">
            <mat-icon matSuffix>mode_edit</mat-icon>
            <mat-error *ngIf="editForm.errors?.misMatch">
              Champs Obligatoire
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="col-5">
        <mat-form-field>
          <mat-label>Currency symbole</mat-label>
          <input matInput placeholder="Currency symbole" formControlName="crncysym">
          <!--<mat-icon matSuffix>person_pin_circle</mat-icon>-->
          <mat-error *ngIf="f.crncysym.invalid">
            Champs Obligatoire
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-5">
        <mat-form-field>
          <mat-label>Symbole Negatif</mat-label>
          <mat-select placeholder="Symbole Negatif" formControlName="negsymbl">
            <mat-option value="0" >Default</mat-option>
            <mat-option *ngFor="let negsymbl of negsymbls" [value]="negsymbl.value">
              {{negsymbl.code}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="f.negsymbl.errors?.verifier">
            Veuillez nulll
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <div class="col-md-6 float-left" >
          <div >
            <mat-form-field>
              <mat-label>Currency symbole</mat-label>
              <input matInput placeholder="Currency unit" formControlName="curtext_1">
              <!--<mat-icon matSuffix>person_pin_circle</mat-icon>-->
              <mat-error *ngIf="f.curtext_1.invalid">
                Champs Obligatoire
              </mat-error>
            </mat-form-field>
          </div>
          <div >
            <mat-form-field>
              <mat-label>Currency symbole</mat-label>
              <input matInput placeholder="Currency connector" formControlName="curtext_2">
              <!--<mat-icon matSuffix>person_pin_circle</mat-icon>-->
              <mat-error *ngIf="f.curtext_2.invalid">
                Champs Obligatoire
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>Currency symbole</mat-label>
              <input matInput placeholder="Currency subunit" formControlName="curtext_3">
              <!--<mat-icon matSuffix>person_pin_circle</mat-icon>-->
              <mat-error *ngIf="f.curtext_3.invalid">
                Champs Obligatoire
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-6 float-right">
          <div >
            <mat-form-field>
              <mat-label>Currency symbole</mat-label>
              <input matInput placeholder="Currency Unit Arabe" formControlName="curtexta_1">
              <!--<mat-icon matSuffix>person_pin_circle</mat-icon>-->
              <mat-error *ngIf="f.curtexta_1.invalid">
                Champs Obligatoire
              </mat-error>
            </mat-form-field>
          </div>
          <div  >
            <mat-form-field>
              <mat-label>Currency symbole</mat-label>
              <input matInput placeholder="Currency connector arabe" formControlName="curtexta_2">
              <!--<mat-icon matSuffix>person_pin_circle</mat-icon>-->
              <mat-error *ngIf="f.curtexta_2.invalid">
                Champs Obligatoire
              </mat-error>
            </mat-form-field>
          </div>
          <div >
            <mat-form-field>
              <mat-label>Currency symbole</mat-label>
              <input matInput placeholder="Currency subunit arabe"   formControlName="curtexta_3">
              <!--<mat-icon matSuffix>person_pin_circle</mat-icon>-->
              <mat-error *ngIf="f.curtexta_3.invalid">
                Champs Obligatoire
              </mat-error>
            </mat-form-field>
          </div>

        </div>
      </div>
    </mat-card>
    <div class="form-actions">
      <button mat-flat-button color="primary"  (click)="onValidationClick()">
        Valider
      </button>
    </div>
  </form>

</div>
