
 <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="col-md-6 offset-3">
   <div mat-dialog-content class=" divInputs .col-md-8 .col-md-offset-3">
    <mat-form-field  >
      <mat-label>Name</mat-label>
      <input  matInput  placeholder="name"  name="name" formControlName="name"  required>
      <mat-error *ngIf="f.name.invalid">
        name is required
      </mat-error>
    </mat-form-field>
    <mat-form-field >
      <mat-label>Username</mat-label>
      <input  matInput  placeholder="Username" name="username" formControlName="username" required>
      <mat-error *ngIf="f.username.invalid">
        username is required
      </mat-error>
    </mat-form-field>
    <mat-form-field  >
    <mat-label>Email</mat-label>
    <input  matInput  placeholder="Email" name="email" formControlName="email" >
      <mat-error *ngIf="f.email.invalid">
        email is required
      </mat-error>
  </mat-form-field>
    <mat-form-field  >
      <mat-label>Password</mat-label>
      <input  matInput  placeholder="Password" type="password" name="password"
              formControlName="password" >
      <mat-error *ngIf="f.password.invalid">
        Password is required
      </mat-error>
      <!--<mat-error *ngIf="password.errors.minlength">
        Password must be at least 6 characters
      </mat-error>-->
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Roles" formControlName="roles"   multiple>
        <mat-option *ngFor="let role of rolesList" [value]="role">
          {{role.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="f.roles.invalid">
        role is required
      </mat-error>
    </mat-form-field>
   <div class="form-group">
     <button [disabled]="loading"  class="btn btn-primary" type="submit">Register</button>
   </div>
   <div *ngIf="error" class="alert alert-danger">{{error}}</div>
   </div>
  </form>

